{
  admin off
}

kunstradbasketball.de, www.kunstradbasketball.de {
  encode gzip zstd

  handle /api/* {
    reverse_proxy backend:3000
  }

  handle /socket.io/* {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy public-frontend:80
  }
}

display.kunstradbasketball.de {
  encode gzip zstd

  handle /api/* {
    reverse_proxy backend:3000
  }

  handle /socket.io/* {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy display-frontend:80
  }
}

admin.kunstradbasketball.de {
  encode gzip zstd

  handle /api/* {
    reverse_proxy backend:3000
  }

  handle /socket.io/* {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy admin-frontend:80
  }
}

audio.kunstradbasketball.de {
  encode gzip zstd

  handle /api/* {
    reverse_proxy backend:3000
  }

  handle /socket.io/* {
    reverse_proxy backend:3000
  }

  handle /media/* {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy audio-frontend:80
  }
}

:8081 {
  encode gzip zstd
  handle /socket.io/* {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy display-frontend:80
  }
}

:8082 {
  encode gzip zstd
  handle /socket.io/* {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy admin-frontend:80
  }
}

:8083 {
  encode gzip zstd
  handle /socket.io/* {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy audio-frontend:80
  }
}

:3000 {
  reverse_proxy backend:3000
}
